<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card p-4" style="max-width: 400px; width: 100%;">
      <h3 class="text-center mb-4">Login</h3>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required />
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
        <div *ngIf="sucessMessage" class="alert alert-sucess">{{ sucessMessage }}</div>
      </form>
      <div class="text-center mt-3">
        <h3>Don't have an account?<a routerLink="/register" class="btn btn-link w-100">Go to Register</a></h3>
      </div>
    </div>
</div>