
/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f4f4f9;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #007bff;
    color: white;
}